* {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 60%;
  height: 100vh;
  margin-left: 20%;
}

header {
  width: 100%;
  height: 90px;
  background-color:darkblue;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px;
}

nav {
  width: 100%;
  height: 80px;  
}

nav > ul {
  width : 100% ;
  height: 100% ;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul > li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color:darkslateblue;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:visited, a:link {
  color: white;
}

a:hover {
  color: darkslateblue;
  font-weight: bold;
}

nav > ul > li:hover {
  background-color:aliceblue;
  color: darkslateblue;
}



ul {
  list-style-type: none; 
  width: 100%;
}

section > ul > li {
  margin: 10px 40px;
  padding: 20px;
  background-color: beige;
  color : black;
}

section > ul > li:hover  {
  background-color: coral;
  color : white ;
}