.bt91 {
  width: 40%;
}

.div81 > span {
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  font-size: large;
  font-weight: bold;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.sp0 {
  background-color: brown;
  color: white;
}
.sp1 {
  background-color:yellowgreen;
  color: white;
}
.sp2 {
  background-color:blue ;
  color: white;
}
.sp3 {
  background-color:darkslateblue;
  color: white;
}
.sp4 {
  background-color:blueviolet;
  color: white;
}
.spplus {
  background-color: white;
  color: black;

}