#btDiv8, #btDiv8 > section, form {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
#btDiv8 {
  flex-direction: column;

  height: 400px;
  background-color: white;
}

.div81, .div82 {
  background-color: white;
  border: none;
  margin: 10px 20px;
} 
.div81 {
  width: 100%;
}

.div82 {
  width: 100%;  
}

.bt81 {
  width: 100%;
}

input{ 
  width: 100%;
  height: 40px;
  text-align: center;
}